<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StyleCop.Analyzers" version="1.0.0-rc3" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="TestFirstAnalyzer" version="1.0.5819.21319" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>